body{
	margin: 0px;
}

h3{
	color:#33832f;
}
.linkTextSmallest{
		font-size: 15px;
	}

.bg-green{
	background-color: #33832f;
}

.bg-white{
	background-color: white;
}

.boxShadow{
	box-shadow: 15px 13px 15px -4px #4d4d4d, -12px 8px 20px -2px #4d4d4d;
}	

.divider{
	border-top: 2px solid;
	color:#33832f;
	padding-bottom: 30px;
}

.formError{
	color: #FF0000; 
	display: none;
}

.imgNegative{
	width:100%;
	margin-left: -140px;
	border-radius: 25px;
}

.raisedContainer{
	margin-left: 30px;
	margin-right:  30px;
	margin-bottom: 10px;
	border-radius: 6px;
	position: relative;
	z-index: 3;
}

.rowMarginless{
	margin-left: 0px;
	margin-right: 0px;
}

.roundedCorners{
	border-radius: 15px;
}

/* Nav Bar CSS */
nav.reverseText-Bold a{
	font-weight: bolder;
	font-size:130%;
	display:block;
	padding:.5rem 1rem;
	color:#ffffff;
}

.navbar-small-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  line-height: inherit;
  white-space: nowrap;
  color :#33832f;
  font-weight: bold;
}

.navbar-small-brand:hover, .navbar-small-brand:focus {
  text-decoration: none;
}

.navbar-transparent {
    background-color: transparent!important;
    transition:500ms ease;
    padding-top: 10px;
    color: #fff;
}

.navbar-transparent-scorlled {
    background-color: #33832f;
    padding-top: 10px;
    color: #fff;
}

/* Contact Us CSS */

.contactUsIcon{
	width: 75px;
	height: 55px;
}

.contactUsVerticalAlignment{
	margin-top: 75px;
	margin-bottom:  75px;
}

/* Staff page CSS */

.headShots{
	width:175px;
	height:175px;
	border-radius: 500px;

}
.bioTextArea{
	padding-top: 105px;
	margin-top: -75px;
	border: 2px solid #33832f;
	border-radius: 20px;
	height:500px;
}

.resourceTextArea{
	height:500px;
}

/*media queries*/

/* iPhone 6, 7, 8 ----------- */
@media(max-height: 800px){
	.coverImages{
		z-index: -1;
		background-position: top;
		width:120%;
		opacity: .8;
	}
	.negativeMargin{
		margin-top: -60px;
	}
	.container-bg{
		padding-top: 75px;
		padding-bottom: 150px;
		height: 325px;
		z-index: 10;
	}
	h1.headingText{
		font-size: 16pt;
		font-family: Verdana;
		font-weight: bold;
		color: white;
		letter-spacing: 5px;
	}
	h3.coverSubText{
		font-size: 12pt;
		font-family: Verdana;
		font-weight: bold;
		color: white;
		letter-spacing: 5px;
	}
	.contentContainer{
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.mx-6{
		margin-right: 15px;
		margin-left: 15px;
	}

	.mx-7{
		margin-right: 15px;
		margin-left: 15px;
	}

	.imgNegative{
		width:120%;
		margin-lefteft: -140px;
		border-radius: 25px;
	}
}
}


/* iPads (portrait and landscape) ----------- */
@media(min-width : 801px) and (max-width : 1223px) {
	
	.coverImages{
		z-index: -1;
		background-position: top;
		width:100%;
		opacity: .8;
	}
	.negativeMargin{
		margin-top: -60px;
	}
	.container-bg{
		padding-top: 150px;
		padding-bottom: 300px;
		height: 400px;
		z-index: 10;
	}
	h1.headingText{
		font-size: 24pt;
		font-family: Verdana;
		font-weight: bold;
		color: white;
		letter-spacing: 6px;
	}
	h3.coverSubText{
		font-size: 16pt;
		font-family: Verdana;
		font-weight: bold;
		color: white;
		letter-spacing: 6px;
	}
	.contentContainer{
		margin-left: 100px;
		margin-right: 100px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.imgNegative{
		width:120%;
		margin-left: -140px;
		border-radius: 25px;
	}
	.mx-6{
		margin-right: 40px;
		margin-left: 40px;
	}

	.mx-7{
		margin-right: 75px;
		margin-left: 75px;
	}
}

/* Desktops and laptops ----------- */
@media(min-width : 1224px) {
	
	.coverImages{
		z-index: -1;
		background-position: top;
		width:100%;
		opacity: .8;
	}
	.negativeMargin{	
		margin-top: -60px;
	}
	.container-bg{
		padding-top: 275px;
		padding-bottom: 275px;
		height: 600px;
		z-index: 10;
	}
	h1.headingText{
		font-size: 36pt;
		font-family: Verdana;
		font-weight: bold;
		color: white;
		letter-spacing: 8px;
	}
	h3.coverSubText{
		font-size: 28pt;
		font-family: Verdana;
		font-weight: bold;
		color: white;
		letter-spacing: 8px;
	}
	.contentContainer{
		margin-left: 100px;
		margin-right: 100px;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.mx-6{
		margin-right: 100px;
		margin-left: 100px;
	}

	.mx-7{
		margin-right: 250px;
		margin-left: 250px;
	}


